@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: var(--main-background-color);
}

.calculadora{
    width: 40%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora .theme{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.calculadora .theme .letters{
    color: var(--text-color-extra);
    font-size: 1.2rem;
    font-family: 'League Spartan', sans-serif;
    
}

.calculadora .theme .theme_what{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.calculadora .theme .theme_what .letters{
    color: var(--text-color-extra);
    font-size: 0.8rem;
    font-family: 'League Spartan', sans-serif;
    margin: 5%;
}

.calculadora .theme .theme_what .slider{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 25%;
}

.calculadora .theme .theme_what .columna{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calculadora .theme .theme_what .sliderFinal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

input{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    outline: none;
    overflow: hidden;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    background: var(--toggle-background-color);

}

input::-webkit-slider-runnable-track {
    height: 15px;
    background: var(--toggle-background-color);
    border-radius: 5px;
  }

  input::-moz-range-track {
    height: 15px;
    background: var(--toggle-background-color);
    border-radius: 16px;
  }

  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 15px;
    width: 15px;
    background-color: var(--igual-key-shadow);
    border-radius: 50%;
    border: 2px solid var(--toggle-background-color);
    box-shadow: -407px 0 0 400px var(--toggle-background-color);
  }
  
 input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: var(--igual-key-shadow);
    border-radius: 50%;
    border: 1px solid var(--toggle-background-color);
    box-shadow: -407px 0 0 400px var(--toggle-background-color);
  }

input:hover {
    opacity: 1;
    cursor: pointer;
  }

.calculadora .pantalla{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    margin: 5%;
    height: 15vh;
    background-color: var(--screen-background-color);
}

.calculadora .pantalla .result{
    color: var(--text-color-extra);
    font-size: 2rem;
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 8px;
}

.calculadora .main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    border-radius: 5px;
    width: 100%;
    background-color: var(--screen-background-color);
}

.calculadora .main_container .column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    /* padding: 5%; */
    width: 100%;
    height: 10vh;
}

.calculadora .main_container .column button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 100%;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.calculadora .main_container .column .borrar:hover{
    cursor: pointer;
    opacity: 1;
    background-color: var(--borrar-key-activate);
}

.calculadora .main_container .column .number:hover{
    cursor: pointer;
    opacity: 1;
    background-color: var(--number-key-activate);
}

.calculadora .main_container .column .igual:hover{
    cursor: pointer;
    opacity: 1;
    background-color: var(--igual-key-activate);
}

.calculadora .main_container .column .number{
    background-color: var(--number-key-background);
    box-shadow: 2px 2px 2px var(--number-key-shadow);
    border-radius: 10px;
    color: var(--text-color-numbers);
    font-size: 1.5rem;
    font-weight: 700;
}

.calculadora .main_container .column .borrar{
    background-color: var(--borrar-key-background);
    box-shadow: 2px 2px 2px var(--borrar-key-shadow);
    border-radius: 10px;
    color: var(--text-color-borrar);
    font-size: 1.5rem;
    font-weight: 700;
}

.calculadora .main_container .column .igual{
    background-color: var(--igual-key-background);
    box-shadow: 2px 2px 2px var(--igual-key-shadow);
    border-radius: 10px;
    color: var(--text-color-igual);
    font-size: 1.5rem;
    font-weight: 700;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }